<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="1"> -->
    <meta http-equiv="refresh" content="1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>Página inicial</title>
</head>
<body>
    <h1>{{ saudacao }}!</h1>
    <h3>Agora são {{ hora }}hs</h3>
    <h1>Bem vindo ao meu site, {{ nome }}</h1>
    <p>Esta é a nossa primeira página utilizando HTML no Django!</p>
</body>
</html>